body {
  padding: 0px;
  margin: 0px;
  background-image: url("https://images-ext-1.discordapp.net/external/TctAHMtgHdYKoH7Rc6tx3sgx3P1MAumFaR-f6Dkw2I4/%3Fixlib%3Drb-4.0.3%26ixid%3DMnwxMjA3fDB8MHxzZWFyY2h8M3x8Z3JhZGllbnQlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%253D%253D%26auto%3Dformat%26fit%3Dcrop%26w%3D900%26q%3D60/https/images.unsplash.com/photo-1554034483-04fda0d3507b");
  background-size: 100%;
}

.local{
  display: flex;
  align-items: center;
  justify-content: center;
}

.a{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
  
}
.main {
  margin: auto;
  width: 600px;
  /* background-color: rgb(255, 255, 255); */
  padding-top: 100px;
  /* margin: -200px 0 0 -100px; */
  
}

.flexbox {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 700px;
}

.box {
  margin-left: 12%;
  
}

.box2 {
  margin-left: 17%;
  display: inline-block;
  position: relative;
  top: -45px;
  right: -10px;
}

.content {
  font-size: 70px;
  margin-left: 15%;
  font-family: "Kanit", sans-serif;
  color: #0045a4;
}

.p1 {
  font-family: "Kanit", sans-serif;


}


.boxloginmain {
  margin: auto;
  padding: auto;
  padding-left: 17%;
  display: inline-block;
  min-width: 500px;
}

.user {
  display: inline-block;
  padding: 1px;
  width: 50px;
}



.front {
  font-size: 35px;
}

.input1 {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  font-size: 20px;
  display: inline-block;
  width: 50%;
  border: 4px solid #0045a4;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: -15px;
}

.input2 {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  font-size: 20px;
  display: inline-block;
  width: 50%;
  border: 4px solid #0045a4;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: -10px;
}

.label1 {
  color: white;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  background-color: #0045a4;
  padding-right: 35px;
  padding-left: 25px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #0045a4;
  border-bottom: 2px solid #0045a4;
  border-top: 1.75px solid #0045a4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.label2 {
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  background-color: #0045a4;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1.2px solid #0045a4;
  border-bottom: 2px solid #0045a4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.submit {
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 15%;
  font-size: 25px;
  font-family: "Kanit", sans-serif;
}
.flexbox2 {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  align-items: center;
  flex-direction: column;
}

.item {
  background-color: #3c5a99;
  display: flex;
  justify-content: center;
}

.space {
  margin-top: 20px;
}

